<div class="container">
  <div class="col text-center">
    <p>
      Vérifie s'il / elle respire à l'aide de ta main ou en écoutant son souffle.
    </p>
    <p>
      <img src="../../../assets/images/robert-crying.png" height="200" width="150"/>
    </p>
    <p>
      <b>Respire t'il / elle ?</b>
    </p>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-success" (click)="gotToPls()">Oui</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-danger" (click)="goToBad()">Non</button>
      </div>
    </div>
  </div>
</div>

