<div *ngIf="!start && !end" class="container">
  <div class="row">
    <div class="col">
      <img src="../../assets/images/robert-alone-scream.png" height="200" width="100"/>
    </div>
    <div class="col text-center">
      <p>
        Est tu vraiment prêt à prendre la route ?
      </p>
      Passe ce test pour tester ton temps de réaction.
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p>
        Tu va devoir toucher Robert le hamster dès qu'il se reveille !
      </p>
      <button type="button" class="btn btn-info" (click)="doStart()">Commencer</button>
    </div>
  </div>
</div>

<div *ngIf="start && !end" class="container">
  <div class="col text-center">
    <span *ngIf="!wokeup">
      <img src="../../assets/images/Dodo.png" height="250" width="250"/>
    </span>
    <span *ngIf="wokeup">
      <img src="../../assets/images/Reveille.png" height="250" width="250" (click)="doPress()"/>
    </span>
  </div>
</div>

<div *ngIf="end" class="container">
  <div class="col text-center">
    <p>
      Ton temps de réaction est de
    </p>
    {{time_taken}} ms
    <div *ngIf="!ok">
      <span class="badge badge-pill badge-danger">Ce n'est pas raisonnable de prendre le volant.</span>
      <p>
        Tu devrais
      </p>
      <ul class="text-left">
        <li>Prendre les transports en commun</li>
        <li>Prendre un taxi</li>
        <li>Rester sur place</li>
        <li>Te faire ramener</li>
      </ul>

    </div>
    <div *ngIf="ok">
      Ton temps de réaction semble normal.
    </div>
  </div>
</div>
