<div class="container">
  <div class="col text-center">
    <p>
      Ton ami(e) a un problème ?
      Pas de panique ! Je vais t'aider à gérer la situation.
    </p>
    <p>
      <img src="../../../assets/images/robert-cute.png" height="200" width="150"/>
    </p>
    <p>
      <b>Est il / elle conscient(e) ?</b>
      <br/>
      Vérifie le en lui demandant de cligner des yeux ou de serrer ta main.
    </p>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-success" (click)="goToOk()">Oui</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-danger" (click)="goToBreathe()">Non</button>
      </div>
    </div>
  </div>
</div>

