<br/>
<div class="container">
  <div class="col text-center">
    <button type="button" class="btn btn-block btn-danger" href="/aled">ALED ⚠️<span class="sr-only">(current)</span></button>

    <button type="button" class="btn btn-block btn-danger" href="/voiture">En route ?</button>

    <button type="button" class="btn btn-block btn-warning" href="/sam">SAM</button>

    <button type="button" class="btn btn-block btn-success" href="/infos">Le saviez-vous ?</button>

    <div>
      <a routerLink="/detail/test">Test info</a>
    </div>
  </div>
</div>

