<div>

  <mat-drawer-container class="mainContainer" autosize>
    <mat-drawer #drawer class="infoSidenav" mode="side">
      <p>Categorie</p>
    </mat-drawer>

    <div class="mainContent">



      <div class="container">

        <div *ngIf="info" class="row">
          <div class="col-1"></div>
          <div class="col-10">{{info.text}}</div>
        </div>

        <div class="row">
          <div class="col-3"></div>
          <button class="col-6" mat-raised-button (click)="choose()">Au hazard</button>
        </div>

      </div>

    </div>

  </mat-drawer-container>

</div>

