<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFC835;">
  <a class="navbar-brand" href="/home">Hamster Futé</a>
  <button *ngIf="!isHome()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="!isHome()" class="container">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/aled">ALED <span class="fa fa-exclamation-triangle"></span><span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/voiture">En route ?</a>
        <a class="nav-item nav-link" href="/sam">SAM</a>
        <a class="nav-item nav-link" href="/infos">Le saviez-vous ?</a>
      </div>
    </div>
  </div>
</nav>
