<div *ngIf="!phone" class="container">
  <div class="col text-center">
    <p>
      Appelle les secours ou demande à quelqu'un de le faire et surtout ne laisse pas ton ami seul
    </p>
    <p>
      <img src="../../../assets/images/robert-frown.png" height="200" width="150"/>
    </p>
    <button type="button" class="btn btn-success" (click)="doPhone()">Comment téléphoner ?</button>
  </div>
</div>

<div *ngIf="phone" class="container">
  <div class="col text-center">
    <p>
      Numéros à appeler
    </p>
    <div class="text-left">
      <span class="badge badge-pill badge-success">18 </span> Pompiers <br/>
      <span class="badge badge-pill badge-success">15 </span> Samu <br/>
      <span class="badge badge-pill badge-success">112 </span> Numéro international
    </div>
    <br/>
    <p>
      Que dire au téléphone ?
    </p>
    <ul class="text-left">
      <li>Nom, Prénom, Téléphone</li>
      <li>Lieu de l'accident</li>
      <li>Description des faits</li>
    </ul>
    <p>
      <span class="badge badge-pill badge-danger"><b>Ne jamais raccrocher en premier</b></span>
    </p>
  </div>
</div>
