<div class="container">
  <div class="col text-center">
    <div *ngIf="sam;else other_content">
      <div *ngIf="sam">
        <div>Sam est
          <span class="badge badge-pill badge-success">{{sam.name}}</span>
        </div>
      </div>
    </div>
    <form name="searchForm" class="form-inline">
      <div class="input-group w-100 mt-3">
        <input type="text" class="form-control" [(ngModel)]="newPlayer.name" name="input" placeholder="Ajouter un participant">
        <button class="input-group-addon btn btn-info" [disabled]="alreadyExist()" (click)="add()">
          <span style="color: white"> + </span>
        </button>
      </div>
    </form>
    <br/>
    <div class="text-left">
      <ul *ngIf="listPlayer">
        <li *ngFor="let player of listPlayer; let i = index" (click)="erase(i)">
          <span class="badge badge-pill badge-info">{{player.name}}</span>
        </li>
      </ul>
    </div>
  </div>

  <ng-template #other_content>
    <div class="sam">
        <button type="button" class="btn btn-success btn-block" [disabled]="moreThanTwoLessThanTen()" (click)="choose()">Choisir SAM</button>
        <small>Il est possible de supprimer un participant en cliquant sur son prénom</small>
    </div>
  </ng-template>

</div>
